main{
    min-height: 90vh;
}

.product {
    padding: 20px;
    text-align: center;
}


.product-image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-details {
    text-align: left;
}

.product-details h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

.product-details p {
    font-size: 1rem;
    line-height: 1.6;
}

.buy-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #00ADB5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
