main {
    min-height: 90vh;
}

.shop-section{
    min-height: 90vh;
}

.shop-section h2 {
    font-size: 2rem;
    color: #555;
}

header nav:first-child {
    display: none;
}

header .menu-icon {
    display: block;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.shop-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.shop-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.product-name {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #333;
}

.view-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00ADB5;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.view-button:hover {
    background-color: #393E46;
}


@media screen and (max-width : 500px) {
    header nav ul {
        display: flex;
    }

    header .menu-icon {
        display: block;
    }
}