* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



header {
  padding: 0 1em;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #222831;
}

.menu-icon {
  text-decoration: none;
  color: #00ADB5;
  background-color: transparent;
  font-size: 3em;
  border: 0;
  font-weight: bold;
}

.menu-icon:hover {
  color: #393E46;
}


header nav ul a {
  display: inline-block;
  text-decoration: none;
  color: #00ADB5;
  background-color: #393E46;
  padding: 0.5em 1em;
  border-radius: 15px;
  font-weight: bold;
}

header nav ul a:hover {

  color: #393E46;
  background-color: #00ADB5;
}


footer {
  background-color: #222831;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9rem;
}

footer p {
  margin: 0;
}
